.jumbotron
	.container
		.row
		.col-md-6
			p
				img(src="images/bracelet.jpg" width=400)
		.col-md-6
			h1 Feeling friendly?
			p
				| Send a unique, customized bracelet to your friends and loved ones. It is a lovely gift that sparks joy when they recieve it and is a constant reminder when they look down at their wrist and remember you care.
			p
				a.btn.btn-primary.btn-lg(href='#', role='button') Select styles »
		