extends layout

block content
  h1 About Me

  p
    | I love friendship bracelets. I was an avid summer camp attendee and camp counselor and one of the best things about camp was camp bracelets. You make best friends with someone for a week, and exchanging friendship bracelets with them is such a special way to remember them. Well into the fall, having a bracelet of your close camp friend on your wrist is a special reminder of how much fun you had together and is an inspiration for going to camp again next year.
  p
    | I want to bring the joy of summer camp to daily life again, so help me by sending a bracelet to you friends. 