- var homepage = false
block variables

doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/bootstrap.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src='/javascripts/bootstrap.js')
  body
    include ./includes/navbar.jade

    // Main jumbotron for a primary marketing message or call to action
    if homepage
      include ./includes/showcase.jade

    .container
      
      block content
      hr
      footer
        p © 2015 Company, Inc.
    // /container
